
@import "tailwindcss";


@theme {
    
    /* Primary and Secondary Colors */
    --color-accent: #6366f1;
    --color-secondary: #f28d35;
  
    /* Analogous Colors */
    --color-analogous-1: #6a44f2;
    --color-analogous-2: #1cbddd; 
    --color-analogous-3: #4dca79 ;
    --color-analogous-4: #faf8ff ;

  
  
  }

a.active hr{
    display: block;
}





::-webkit-scrollbar{
    display: none
}

@media  (max-width:640px) {
    a.active{
        background-color: #6366f1;
        color: white;
    }
}
